<div class="row">
    <div class="col l8 offset-l2 m6 offset-m3 s12">
        <div class="section">
            <h3 class="section-title">Feribot Ekle</h3>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Feribot İsmi" id="name" type="text" class="validate" ng-model="newFerry.name">
                    <label for="name">Feribot İsmi</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit" ng-click="addFerry()">Ekle
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
