@xlg-ems: 8.4em;
@lg-ems: 4.2em;
@md-ems: 2.1em;
@sm-ems: 1em;
@xsm-ems: 0.5em;
@ems: @md-ems;

@bigger-font-size: 8.4em;
@big-font-size: 4.2em;
@normal-font-size: 2.1em;
@small-font-size: 1em;
@smaller-font-size: 0.5em;
@font-size: @normal-font-size;

header {
    margin-bottom: @lg-ems;
}

section,
.section {
    margin-top: @ems;
    margin-bottom: @ems;

    .section-title {
        margin-top: 0;
        margin-bottom: @sm-ems;
    }
}

.promo {
    padding: 0 @sm-ems;

    .material-icons {
        font-size: @big-font-size;
    }
}

footer,
.footer {
    margin-top: @lg-ems;
    padding-top: @md-ems;

    .footer-copyright {
        height: auto;
        line-height: @md-ems;
        padding-top: @sm-ems;
        padding-bottom: @sm-ems;
        font-weight: 300;
        background-color: rgba(51, 51, 51, 0.08);
        color: rgba(255, 255, 255, 0.8);
        overflow: hidden;
    }
}
